.mainContainer {
  max-height:429px;
  max-width:330px;
  border: solid 1px rgb(221, 221, 221);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 6px 16px rgb(221, 221, 221);
  text-align: center;
  position: sticky;
  margin-top: 0px;
  margin-left: 50px;
  margin-bottom: auto;
  top: 0;
}
.mainGrid {
  max-width: 100%;
  max-height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 57.75px 57px 65px;
  padding-top: 1px;
}
.mainPrice {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  text-align: left;
}
#mainPriceAmount {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  color: rgb(34,34,34);
}
#mainPricePerNight {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(34, 34, 34);
  padding-left: 4px;
}
.calendarReviews {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  text-align: right;
  padding-top: 8px;
}
#iconStar {
  width: 14px;
  height: 14px;
  fill: rgb(255,56, 92);
}
#reviews {
  font-weight: 600;
  font-size: 14px;
}
#reviewsNum {
  font-size: 14px;
  color: rgb(113, 113, 113);
}
.date-selection {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}
.reserveButton {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  background-color: rgb(227, 28, 95);
  height: 48px !important;
  width: 322.328px !important;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color:white;
  border-radius: 12px;
  max-height: 75%;
  border: 0px;
  margin-top: 4%;
  cursor: pointer;
}