.calendarDaysSpan {
  padding-top: 12px;
  position:relative;
}
.calendarDaysSpan.left.animate {
  animation: rightSlide 0.35s 1 forwards;
}
.calendarDaysSpan.right.animate {
  animation: rightSlide 0.35s 1 forwards;
}
.calendarDaysSpan.offGrid.animate {
  animation: offGridSlide 0.35s 1 forwards;
}
.calendarDaysSpan.left {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  padding-right: 20px;
}
.calendarDaysSpan.right {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding-left: 20px;
}
.calendarDaysSpan.offGrid {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}
.calendarDaysTable {
  width: 100%;
  text-align: center;
  border-spacing: 0px 2px;
  table-layout: fixed;
}
.calendarDaysTable > tr {
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
}
.dayNames {
  font-size: 12px !important;
  line-height: 16px;
  font-weight: 600;
  color: rgb(113,113,113);
}
.days {
  font-size: 14px;
  font-weight: 600;
  height: 40px !important;
  width: 40px !important;
  overflow: visible;
}
.innerCell.filled {
  background:black;
  color: white;
  border-radius: 100%;
  cursor: pointer;
}
.innerCell.blocked {
  text-decoration: line-through;
  color: rgb(176, 176, 176);
  cursor: default;
  font-weight: 400;
}
.innerCell.blocked:hover {
  border: 1.5px solid transparent;
  border-radius: 100%;
}

.days.highlight {
  background: rgb(247,247,247);
}
.innerCell {
  border-radius: 100%;
  border: 1.5px solid transparent;
  cursor: pointer;
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerCell:hover {
  border: 1.5px solid black;
}
.days.highlight.checkIn {
  border-radius: 65% 0px 0px 65%;
}
.days.highlight.checkOut, .days.highlight.endFocus {
  border-radius: 0px 65% 65% 0px;
}
.focused.checkIn {
  border-radius: 65% !important;
}
.form {
  padding-bottom: 0px;
  padding-top: 1px;
}

@keyframes rightSlide {
  0% {right: 0px}
  100% {right: 319px}
}
@keyframes offGridSlide {
  0% {right: 0px}
  100% {right: 338px}
}