#calendarContainer {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  display: grid;
  /* grid-template-columns:1fr 1fr; */
  grid-template-columns: 298.5px 298.5px 50px 298.5px;
  grid-template-rows: 30px minmax(min-content, max-content);
  width: 100%;
  height:100%;
}
#calendarBar {
  /* grid-column: 1 / end; */
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 25px;
  padding-top: 12px;
}
#calendarBar > span, #offGridBar > span {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
#calendarBar > button {
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  border: 0px;
  padding: 10px;
}
#calendarBar > button:focus {
  outline: none;
}
#calendarBar > button:hover {
  background-color: rgb(246 246 246);
}
#calendarBar > button > svg {
  height: 12px;
  width: 12px;
}

#leftSpan {
  padding-right: 170px;
}
#offGridBar {
  display: flex;
  justify-content: space-between;
  align-items:center;
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  padding-top: 12px;
  height: 25px;
}
