.checkingContainer.notDropdown {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.checkingContainer.dropdown {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.checkIn.box {
  grid-column: 1 / span 1;
  grid-column: 1 / span 1;
}
.checkIn.box {
  grid-column: 2 / span 1;
  grid-column: 1 / span 1;
}
.box {
  display: flex;
  border: 1px solid black;
}