.guests {
  grid-column: 1 / span 2;
  grid-row: 3 /span 1;
  border: solid 1px rgb(221,221,221);
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 10px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}